{:type       :maven
 :repository "clojars"
 :manifest   [coast/common
              coast/db
              coast/migrations
              coast/generators
              coast/deploy
              coast/web]}